<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1> Welcome </h1>
addBook
<form action="/addBook" method="post">
    <input name="title" type="text" placeholder="title">
    <input name="description" type="text" placeholder="description">
    <input name="price" type="text" placeholder="price">
    <input name="author_id" type="number" placeholder="author">
    <input type="submit" value="Add Book">
</form>
addAuthor
<form action="/addAuthor" method="post">
    <input name="name" type="text" placeholder="name">
    <input name="surname" type="text" placeholder="surname">
    <input name="email" type="text" placeholder="email">
    <select name="gender">
        <option disabled selected value>choose your gender</option>
        <option value="MALE">MALE</option>
        <option value="FEMALE">FEMALE</option>
    </select>
    <input name="bio" type="text" placeholder="bio">
    <input type="submit" value="Add User">
</form>
<br>
<a href="/authorHome">author Home</a>
<a href="/bookHome">Book Home</a>
</body>
</html>